@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    color: #530a06;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #550505;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #550505;
    outline: none;
    transition: 0.2s ease;
}
body{
    width: 100%;
}
.logo{
    height: 170px;
    width: 170px;
}
.logo{
    width: 280px;
    height: 80px;
}

/* header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px ;
    background-color: #f4debe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration:none ;
    font-size: 16px;
    font-weight: 650;
    color: #630404;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:rgba(205, 72, 15, 0.902);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background-color: rgba(205, 72, 15, 0.902);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* Home Page */
#hero{
    background-image: url(hero/b3.png);
    height: 100vh;
    width: 100%;
    background-position: top 20% right 8% bottom 19%;
    background-size: cover;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 3px;
    align-items: flex-start ;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;

}
#hero h1{
   color: rgb(220, 143, 42);
}
#hero button{
    background-image: url(hero/oooo.png);
    background-color: transparent;
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 2px 1px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6{
background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color:#cdd4f8 ;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;   
}
#product1 h2{
    color: #550505;
}
#product1 p{
    color: #360202;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #d7c48d;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition:0.2s ease;
    position: relative;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(11, 0, 0, 0.06);
}

#product1 .pro img{
    width: 90%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size:15px;
    font-weight: 700;
    color: #ad3e0e;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f6f6e8;
    font-weight: 500;
    color: #7d1c21;
    border: 1px solid #e5ae2e;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/oo.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
 #banner h4{
    color: white;
    font-size: 19px;

 }
 
 #banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
    
 }

 #banner h2 span{
    color: rgb(67, 27, 20);
    font-size: larger;
 }

 #banner button:hover{
    background: rgb(67, 27, 20);
    color: rgb(255, 170, 0);
 }

 #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

 }
 
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url(img/banner/00.webp);
}
#sm-banner h4{
    color:#550505;
    font-size: 23px;
    font-weight: 300;;
}

#sm-banner h2{
    color:#550505;
    font-size: 28px;
    font-weight: 800;;
}
#sm-banner span{
    color:#550505;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #550505;
    color: #fff;
    border: 1px solid #fff;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b111.webp);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url(img/banner/b22.webp);
}
#banner3 .banner-box3{
    background-image: url(img/banner/b33.jpg);
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 15px;
}
 
/* newsletter */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/newsp/l.jpg);
    /* background-repeat: no-repeat; */
    background-position: 20% 30%;
    background-color: #2bc945;
}
#newsletter h4{
    font-size: 23px;
    font-weight: 700;
    color: #630000;

}
#newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #630000;
}
#newsletter p span{
    color: #630000;
    font-size: 18px;
}
#neewsletter .form {
    display: flex;
    width: 30%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter button.normal{
    background-color: #530a06;
    color: #fff;
    white-space: nowrap;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: black;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #630000;
    border-radius: 2px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover, 
footer a:hover{
    color: #990303;
}


/* Shop page */

#page-header{
    background-image: url("img/banner/s1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #500101;

}

#page-header p{
    font-size: 20px;
}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #500101;
    padding: 15px 20px;
    border-radius: 4px;
    color: #f9c311;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/* single product */

#prodetails{
    display: flex;
    margin-top: 20px;

}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}

.small-img-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;

}
#prodetails .single-pro-details h6{
    font-size: 16px;
    color: #550505;
}
#prodetails .single-pro-details h4{
    padding: 30px 0 15px 0;
    color: #550505;

}
#prodetails .single-pro-details h2{
  font-size: 26px;
  color: #550505;
    
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px ;
    margin-bottom: 10px;
    color: #550505;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: #550505;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background: #642929;
    color: #f7ca61;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}

/* blog page */

#page-header.blog-header{
    background-image: url(img/banner/bblog.jpg);
    background-position: center;
}
#page-header.blog-header h2{
    color: #fff;
    font-size: 49px;
}
#page-header.blog-header p{
    color: #fff;
    font-size: 25px;
}

#blog{
    padding: 150px 100px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;

}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
   text-decoration: none;
   font-size: 12px;
   color: #000;
   font-weight: 700;
   position: relative;
   transition: 0.2s ease;
}
/* #blog .blog-details a::after{
    content: "";
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 40px;
    right: -60px;
} */

#blog .blog-details a:hover{
    color: #8c1818;

}
#blog .blog-box h1{
    position: absolute;
    top:-40px;
    left: 0;
    font-size: 60px;
    font-weight: 700;
    color: #de7e47;
    z-index: -6;
}

/* about page */
 #page-header.about-header {
    background-image: url(img/banner/ku.jpg);
    background-position: center;
 }
 #page-header.about-header h2{
    color: #fff;
 }
 #page-header.about-header p{
    color: #fff;
    font-size: 24px;
 }
 #about-head img{
    width:50%;
    height: auto;
 }
 #about-head{
    display: flex;
    align-items: center;

 }
 #about-head .self{
    padding-top: 35px;
    padding-left: 40px;
 }
/* conatct deatils */
 #contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 #contact-details .details{
    width: 40%;
 }

 #contact-details .details span{
    font-size: 12px;

 }
 #contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
 }
 #contact-details .details h3{
    font-size: 16px;
   padding-bottom: 15px;
 }
 #contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
 }
 #contact-details .details li i{
    font-size: 14px;
    padding-right: 22px ;

 }

 #contact-details .details li p{
    margin: 0;
    font-size: 14px;
 }

 #contact-details .map{
    width: 55%;
    height: 400px;
 }
 #contact-details .map iframe{
    width: 100%;
    height: 100%;
 }